---
layout: default
---
<header>
    <a id="page-title" href="/">nulldr.one</a>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/writing">Writing</a></li>
        </ul>
    </nav>
</header>

<main>
{{ content }}
</main>

<footer>
    <a href="https://unlicense.org/">This is free and unencumbered software released into the public domain.</a>
</footer>

