---
layout: page
---

<h2 class="article-title">{{ page.title }}</h2>
<span class="article-date">{{ page.date | date: "%-d %B %Y" | upcase }} - {{ content | number_of_words | divided_by: 250 }} MINS</span>

<article>
{{ content }}
</article>
